<html>
   <body>
      <table border = 1>
         <thead>
            <td>name</td>
            <td>aadhar_no>/td
            <td>age</td>
            <td>doses</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["name"]}}</td>
               <td>{{row["aadhar_no"]}}</td>
               <td> {{ row["age"]}}</td>
               <td>{{row['doses']}}</td>	
            </tr>
         {% endfor %}
      </table>
      
      <a href = "/">Go back to home page</a>  
   </body>
</html>